In [1]:
import pandas as pd

In [2]:
banking_parquet = 'data/banking.parquet'
sales_parquet = 'data/sales.parquet'
mcc_parquet = 'data/mcc.parquet'

In [3]:
df_banking = pd.read_parquet(banking_parquet, engine='pyarrow')

In [4]:
df_banking.head()

,document_id,date_time,value,counterparty_document,type
0,5615027685943047372,2023-02-08 19:02:36.289545,400000.0,2701672467485454263,pix_in
1,6321206883189082161,2023-05-21 17:45:10.407340,330000.0,5674766186099233601,pix_in
2,6204525363384429949,2023-05-19 14:53:21.567099,200000.0,2193750750108086695,pix_out
3,6347736874608223396,2023-04-05 12:13:38.056087,200000.0,904790816053028747,pix_out
4,6347736874608223396,2023-04-07 23:44:04.727672,200000.0,904790816053028747,pix_out

In [5]:
df_mcc = pd.read_parquet(mcc_parquet, engine='pyarrow')

In [6]:
df_mcc.head()

,mcc,edited_description,combined_description,usda_description,irs_description,irs_reportable
0,742,Veterinary Services,Veterinary Services,Veterinary Services,Veterinary Services,Yes
1,763,Agricultural Co-operatives,Agricultural Co-operatives,Agricultural Co-operatives,Agricultural Cooperative,Yes
2,780,"Horticultural Services, Landscaping Services","Horticultural Services, Landscaping Services",Horticultural Services,Landscaping Services,Yes
3,1520,General Contractors-Residential and Commercial,General Contractors-Residential and Commercial,General Contractors-Residential and Commercial,General Contractors,Yes
4,1711,Air Conditioning Contractors – Sales and Insta...,Air Conditioning Contractors – Sales and Insta...,Air Conditioning Contractors – Sales and Insta...,"Heating, Plumbing, A/C",Yes

In [7]:
# Visualização do dataset de vendas por document_id, estado e data/hora
df_sales = pd.read_parquet(sales_parquet, engine='pyarrow')

In [8]:
df_sales.head(30)

,document_id,date_time,value,card_number,type,mcc,state
0,9132021237731236867,2022-12-08 01:09:53.352600,240.0,,Pix,5499,RN
1,9132021237731236867,2022-12-04 03:04:08.115900,88.0,,Pix,5499,RN
2,9132021237731236867,2022-12-07 03:07:05.865600,76.0,,Pix,5499,RN
3,9132021237731236867,2022-12-05 02:45:01.539400,48.0,,Pix,5499,RN
4,9132021237731236867,2022-12-08 03:10:59.259900,8.0,,Pix,5499,RN
5,9132021237731236867,2022-12-08 00:09:40.802300,144.0,,Pix,5499,RN
6,9132021237731236867,2022-12-03 01:49:57.939700,72.0,,Pix,5499,RN
7,9132021237731236867,2022-12-08 03:10:59.259800,320.0,,Pix,5499,RN
8,9132021237731236867,2022-12-08 04:10:58.670500,144.0,,Pix,5499,RN
9,9132021237731236867,2022-12-02 01:32:38.909800,224.0,,Pix,5499,RN
10,9132021237731236867,2022-12-15 01:46:16.359800,96.0,,Pix,5499,RN
11,9132021237731236867,2022-12-07 03:07:05.865600,56.0,,Pix,5499,RN
13,9132021237731236867,2022-12-16 00:50:45.943500,48.0,,Pix,5499,RN
14,9132021237731236867,2022-12-07 02:07:02.301700,48.0,,Pix,5499,RN
15,9132021237731236867,2022-12-02 00:56:02.676100,144.0,,Pix,5499,RN
16,9132021237731236867,2022-12-08 02:11:00.354100,264.0,,Pix,5499,RN
17,9132021237731236867,2022-12-16 01:50:43.968000,72.0,,Pix,5499,RN
18,9132021237731236867,2022-12-03 01:49:57.939700,216.0,,Pix,5499,RN
19,9132021237731236867,2022-12-16 02:50:49.871700,104.0,,Pix,5499,RN
20,9132021237731236867,2022-12-16 01:50:43.968000,280.0,,Pix,5499,RN
21,9132021237731236867,2023-01-25 02:18:43.497500,56.0,,Pix,5499,RN
22,9132021237731236867,2022-12-16 01:50:43.967900,112.0,,Pix,5499,RN
23,9132021237731236867,2023-01-22 02:27:39.945600,288.0,,Pix,5499,RN
24,9132021237731236867,2022-12-08 04:10:58.670500,112.0,,Pix,5499,RN
25,9132021237731236867,2022-12-07 23:09:39.969700,48.0,,Pix,5499,RN
26,9132021237731236867,2022-12-10 01:37:43.598600,76.0,,Pix,5499,RN
27,9132021237731236867,2022-12-15 00:44:41.018200,56.0,,Pix,5499,RN
28,9132021237731236867,2023-01-21 02:25:06.760600,128.0,,Pix,5499,RN
29,9132021237731236867,2022-12-14 03:40:44.679500,56.0,,Pix,5499,RN
30,9132021237731236867,2022-12-05 00:44:49.746000,72.0,,Pix,5499,RN

In [9]:
# Agrupamento de todas as vendas por document_id
sales_per_doc_id = df_sales.groupby('document_id')

In [10]:
sales_per_doc_id.head()

,document_id,date_time,value,card_number,type,mcc,state
0,9132021237731236867,2022-12-08 01:09:53.352600,240.00,,Pix,5499,RN
1,9132021237731236867,2022-12-04 03:04:08.115900,88.00,,Pix,5499,RN
2,9132021237731236867,2022-12-07 03:07:05.865600,76.00,,Pix,5499,RN
3,9132021237731236867,2022-12-05 02:45:01.539400,48.00,,Pix,5499,RN
4,9132021237731236867,2022-12-08 03:10:59.259900,8.00,,Pix,5499,RN
...,...,...,...,...,...,...,...
263970,1520813460744343295,2023-05-04 17:35:06.289900,68.16,8008498988772921344,Flex,5422,RS
263971,1520813460744343295,2023-02-17 17:41:15.936600,40.00,1336886349824072192,Débito,5422,RS
263972,1520813460744343295,2023-03-22 21:33:24.238300,252.00,37385093281758912,Débito,5422,RS
263973,1520813460744343295,2023-04-26 23:57:00.763300,64.52,6735996427083786240,Débito,5422,RS
263974,1520813460744343295,2022-12-01 02:11:50.812500,48.00,,Débito,5422,RS

In [11]:
# Carregamento do dataset de MCC / Descrição de estabelecimentos com base no MCC
mcc_description = df_mcc[['mcc', 'irs_description']]

In [12]:
# Criação de dataset de vendas por tipos de estabelecimentos
sales_per_mcc_description = pd.merge(df_sales, mcc_description, on='mcc', how='inner')

In [13]:
sales_per_mcc_description.head(20)

,document_id,date_time,value,card_number,type,mcc,state,irs_description
0,9132021237731236867,2022-12-08 01:09:53.352600,240.0,,Pix,5499,RN,Miscellaneous Food Stores - Convenience Stores...
1,9132021237731236867,2022-12-04 03:04:08.115900,88.0,,Pix,5499,RN,Miscellaneous Food Stores - Convenience Stores...
2,9132021237731236867,2022-12-07 03:07:05.865600,76.0,,Pix,5499,RN,Miscellaneous Food Stores - Convenience Stores...
3,9132021237731236867,2022-12-05 02:45:01.539400,48.0,,Pix,5499,RN,Miscellaneous Food Stores - Convenience Stores...
4,9132021237731236867,2022-12-08 03:10:59.259900,8.0,,Pix,5499,RN,Miscellaneous Food Stores - Convenience Stores...
5,9132021237731236867,2022-12-08 00:09:40.802300,144.0,,Pix,5499,RN,Miscellaneous Food Stores - Convenience Stores...
6,9132021237731236867,2022-12-03 01:49:57.939700,72.0,,Pix,5499,RN,Miscellaneous Food Stores - Convenience Stores...
7,9132021237731236867,2022-12-08 03:10:59.259800,320.0,,Pix,5499,RN,Miscellaneous Food Stores - Convenience Stores...
8,9132021237731236867,2022-12-08 04:10:58.670500,144.0,,Pix,5499,RN,Miscellaneous Food Stores - Convenience Stores...
9,9132021237731236867,2022-12-02 01:32:38.909800,224.0,,Pix,5499,RN,Miscellaneous Food Stores - Convenience Stores...
10,9132021237731236867,2022-12-15 01:46:16.359800,96.0,,Pix,5499,RN,Miscellaneous Food Stores - Convenience Stores...
11,9132021237731236867,2022-12-07 03:07:05.865600,56.0,,Pix,5499,RN,Miscellaneous Food Stores - Convenience Stores...
12,9132021237731236867,2022-12-16 00:50:45.943500,48.0,,Pix,5499,RN,Miscellaneous Food Stores - Convenience Stores...
13,9132021237731236867,2022-12-07 02:07:02.301700,48.0,,Pix,5499,RN,Miscellaneous Food Stores - Convenience Stores...
14,9132021237731236867,2022-12-02 00:56:02.676100,144.0,,Pix,5499,RN,Miscellaneous Food Stores - Convenience Stores...
15,9132021237731236867,2022-12-08 02:11:00.354100,264.0,,Pix,5499,RN,Miscellaneous Food Stores - Convenience Stores...
16,9132021237731236867,2022-12-16 01:50:43.968000,72.0,,Pix,5499,RN,Miscellaneous Food Stores - Convenience Stores...
17,9132021237731236867,2022-12-03 01:49:57.939700,216.0,,Pix,5499,RN,Miscellaneous Food Stores - Convenience Stores...
18,9132021237731236867,2022-12-16 02:50:49.871700,104.0,,Pix,5499,RN,Miscellaneous Food Stores - Convenience Stores...
19,9132021237731236867,2022-12-16 01:50:43.968000,280.0,,Pix,5499,RN,Miscellaneous Food Stores - Convenience Stores...

In [14]:
# Agrupamento de descrição de estabelecimentos
irs_descriptions = sales_per_mcc_description.groupby('irs_description')

In [15]:
irs_descriptions.head()

,document_id,date_time,value,card_number,type,mcc,state,irs_description
0,9132021237731236867,2022-12-08 01:09:53.352600,240.0,,Pix,5499,RN,Miscellaneous Food Stores - Convenience Stores...
1,9132021237731236867,2022-12-04 03:04:08.115900,88.0,,Pix,5499,RN,Miscellaneous Food Stores - Convenience Stores...
2,9132021237731236867,2022-12-07 03:07:05.865600,76.0,,Pix,5499,RN,Miscellaneous Food Stores - Convenience Stores...
3,9132021237731236867,2022-12-05 02:45:01.539400,48.0,,Pix,5499,RN,Miscellaneous Food Stores - Convenience Stores...
4,9132021237731236867,2022-12-08 03:10:59.259900,8.0,,Pix,5499,RN,Miscellaneous Food Stores - Convenience Stores...
...,...,...,...,...,...,...,...,...
259438,1259629514589365243,2023-03-10 22:56:52.414400,560.0,6180256025020312576,Débito,5571,PI,Motorcycle Shops and Dealers
259439,1259629514589365243,2023-01-17 12:08:16.013000,1200.0,7622849110298533888,Débito,5571,PI,Motorcycle Shops and Dealers
259440,1259629514589365243,2023-01-17 12:08:16.012900,840.0,4454544620766827008,Débito,5571,PI,Motorcycle Shops and Dealers
259441,1259629514589365243,2022-12-28 18:32:45.471900,400.0,3062187001368667136,Débito,5571,PI,Motorcycle Shops and Dealers
259442,1259629514589365243,2023-02-25 16:54:49.955800,280.0,5988177927154976768,Débito,5571,PI,Motorcycle Shops and Dealers

In [16]:
# Limpeza de dados não importantes para aprendizado de maquina
sales_per_mcc = sales_per_mcc_description.drop(columns=['card_number', 'type'])

In [17]:
sales_per_mcc.head()

,document_id,date_time,value,mcc,state,irs_description
0,9132021237731236867,2022-12-08 01:09:53.352600,240.0,5499,RN,Miscellaneous Food Stores - Convenience Stores...
1,9132021237731236867,2022-12-04 03:04:08.115900,88.0,5499,RN,Miscellaneous Food Stores - Convenience Stores...
2,9132021237731236867,2022-12-07 03:07:05.865600,76.0,5499,RN,Miscellaneous Food Stores - Convenience Stores...
3,9132021237731236867,2022-12-05 02:45:01.539400,48.0,5499,RN,Miscellaneous Food Stores - Convenience Stores...
4,9132021237731236867,2022-12-08 03:10:59.259900,8.0,5499,RN,Miscellaneous Food Stores - Convenience Stores...

### Tratamento dos dados

In [18]:
# Tratamento da data/hora para novas colunas: Dia, Mes, Ano, Estações do ano
sales_per_mcc['date_time'] = pd.to_datetime(sales_per_mcc['date_time'])
sales_per_mcc['day'] = sales_per_mcc['date_time'].dt.day
sales_per_mcc['date'] = sales_per_mcc['date_time'].dt.date
sales_per_mcc['hour'] = sales_per_mcc['date_time'].dt.hour
sales_per_mcc['day_of_week'] = sales_per_mcc['date_time'].dt.day_name()
sales_per_mcc['month'] = sales_per_mcc['date_time'].dt.month
sales_per_mcc['year'] = sales_per_mcc['date_time'].dt.year
sales_per_mcc['time_of_day'] = sales_per_mcc['date_time'].dt.hour.apply(lambda x: 'Morning' if 5 <= x < 12 else 'Afternoon' if 12 <= x < 17 else 'Evening' if 17 <= x < 21 else 'Night')

In [19]:
sales_per_mcc.head()

,document_id,date_time,value,mcc,state,irs_description,day,date,hour,day_of_week,month,year,time_of_day
0,9132021237731236867,2022-12-08 01:09:53.352600,240.0,5499,RN,Miscellaneous Food Stores - Convenience Stores...,8,2022-12-08,1,Thursday,12,2022,Night
1,9132021237731236867,2022-12-04 03:04:08.115900,88.0,5499,RN,Miscellaneous Food Stores - Convenience Stores...,4,2022-12-04,3,Sunday,12,2022,Night
2,9132021237731236867,2022-12-07 03:07:05.865600,76.0,5499,RN,Miscellaneous Food Stores - Convenience Stores...,7,2022-12-07,3,Wednesday,12,2022,Night
3,9132021237731236867,2022-12-05 02:45:01.539400,48.0,5499,RN,Miscellaneous Food Stores - Convenience Stores...,5,2022-12-05,2,Monday,12,2022,Night
4,9132021237731236867,2022-12-08 03:10:59.259900,8.0,5499,RN,Miscellaneous Food Stores - Convenience Stores...,8,2022-12-08,3,Thursday,12,2022,Night

In [20]:
sales_per_mcc.to_csv('sales_per_mcc.csv', index=False)